<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="my-3 float-left">
    City of Seattle Wages: Comparison by Gender
  </h1>
  <div class="col-md-12 my-4">
    <div class="input-group">
      <div class="input-group-btn">
        <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Filter
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" (click)="filterBy('menMore')" href="#">Jobs men make more</a>
          <a class="dropdown-item" (click)="filterBy('womenMore')" href="#">Jobs women make more</a>
          <a class="dropdown-item" (click)="filteredMinGap=true"href="#">Minimum Gap</a>
          <a class="dropdown-item" (click)="filteredPercentageGap=true" href="#">Gap percentage</a>
        </div>
      </div>
      <input #minGap type="text" class="form-control" *ngIf="filteredMinGap" (keyup.enter)="filterBy('minGap', minGap.value)" placeholder="show me only those jobs where the difference in pay is at least  ___ . (please enter a number)" aria-label="Text input with dropdown button">
      <input type="text" class="form-control" *ngIf="filteredPercentageGap" (click)="filterBy('percentageGap')" aria-label="Text input with dropdown button">
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>
          Job Title
          <span class="fa fa-caret-down" (click)="sortBy('title', 'desc')"></span>
          <span class="fa fa-caret-up" (click)="sortBy('title')"></span>
        </th>
        <th>
          Female Avg Hrly Rate
          <span class="fa fa-caret-down" (click)="sortBy('femaleWages', 'desc')"></span>
          <span class="fa fa-caret-up" (click)="sortBy('femaleWages')"></span>
        </th>
        <th>
          Male Avg Hrly Rate
          <span class="fa fa-caret-down" (click)="sortBy('maleWages', 'desc')"></span>
          <span class="fa fa-caret-up" (click)="sortBy('maleWages')"></span>
        </th>
      </tr>
    </thead>
    <tbody *ngIf="data"></tbody>
      <tr *ngFor="let d of data">
        <td>{{d[8]}}</td>
        <td>{{d[9]}}</td>
        <td>{{d[12]}}</td>
      </tr>
    </tbody>
  </table>
  <p *ngIf="total === 0">There is no related data.</p>

  <app-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="5"
    [page]="page"
    [perPage]="limit"
    [count]="total"></app-pagination>
</div>