<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1 class="my-3 float-left">
    City of Seattle Wages: Comparison by Gender
  </h1>
  <div class="dropdown my-3 float-right">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Filter
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" (click)="filterBy('menMore')" href="#">jobs men make more</a>
      <a class="dropdown-item" (click)="filterBy('womenMore')" href="#">jobs women make more</a>
      <a class="dropdown-item" href="#">Another action</a>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </div>
  <table class="table table-hover" *ngIf="data">
    <thead>
      <tr>
        <th>
          Job Title
          <span class="fa fa-caret-down" (click)="sortBy('title', 'desc')"></span>
          <span class="fa fa-caret-up" (click)="sortBy('title')"></span>
        </th>
        <th>
          Female Avg Hrly Rate
          <span class="fa fa-caret-down" (click)="sortBy('femaleWages', 'desc')"></span>
          <span class="fa fa-caret-up" (click)="sortBy('femaleWages')"></span>
        </th>
        <th>
          Male Avg Hrly Rate
          <span class="fa fa-caret-down" (click)="sortBy('maleWages', 'desc')"></span>
          <span class="fa fa-caret-up" (click)="sortBy('maleWages')"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <td>{{d[8]}}</td>
        <td>{{d[9]}}</td>
        <td>{{d[12]}}</td>
      </tr>
    </tbody>
  </table>

  <app-pagination
    (goPage)="goToPage($event)"
    (goNext)="onNext()"
    (goPrev)="onPrev()"
    [pagesToShow]="5"
    [page]="page"
    [perPage]="limit"
    [count]="total"></app-pagination>
</div>