<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    City of Seattle Wages: Comparison by Gender
  </h1>
  <table class="table table-hover" *ngIf="data">
    <thead>
      <tr>
        <th>#</th>
        <th>
          Job Title
          <span class="glyphicon glyphicon-triangle-bottom" (click)="sortBy('title', 'desc')"></span>
          <span class="glyphicon glyphicon-triangle-top" (click)="sortBy('title')"></span>
        </th>
        <th>
          Female Avg Hrly Rate
          <span class="glyphicon glyphicon-triangle-bottom" (click)="sortBy('femaleWages', 'desc')"></span>
          <span class="glyphicon glyphicon-triangle-top" (click)="sortBy('femaleWages')"></span>
        </th>
        <th>
          Male Avg Hrly Rate
          <span class="glyphicon glyphicon-triangle-bottom" (click)="sortBy('maleWages', 'desc')"></span>
          <span class="glyphicon glyphicon-triangle-top" (click)="sortBy('maleWages')"></span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of data">
        <th scope="row">{{d[0]}}</th>
        <td>{{d[8]}}</td>
        <td>{{d[9]}}</td>
        <td>{{d[12]}}</td>
      </tr>
    </tbody>
  </table>
</div>